<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

   <div class="css-signup-form">

      <div class="css-signup-main">회원가입</div>

      <div class="css-signup-basic">
         <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post" enctype="multipart/form-data">

            <div class="css-signup-line">
               <span class="css-pointer">*</span> 필수입력사항
            </div>

            <!-- 회원 가입 -->
            <table class="table table-borderless" style="margin: 10px 0px 0px 20px;">
               
                <tbody>

               <!-- 아이디 -->
               <tr>
                  <td><label for="username" class="form-label">아이디<span class="css-pointer">*</span></label></td>
                  <td><input type="text" name="username" th:field="*{username}" 
                     class="form-control text-center" placeholder="아이디를 입력하십시오."
                     oninput="checkUsername()"><span id="username-check"></span>
                      <div class="css-pointer" th:errors="*{username}"></div></td>   
               </tr>

               <!-- 비밀번호  -->
               <tr>
                  <td><label for="password1" class="form-label">비밀번호<span class="css-pointer">*</span></label></td>
                  <td><input type="password" name="password1" th:field="*{password1}"
                     class="pw form-control text-center" placeholder="비밀번호를 입력하십시오.">
                     <div class="css-pointer" th:errors="*{password1}"></div></td>
               </tr>

               <!-- 비밀번호 확인 -->
               <tr>
                  <td><label for="password2" class="form-label">비밀번호 확인<span class="css-pointer">*</span></label></td>
                  <td><input type="password" name="password2" th:field="*{password2}"
                     class="pw form-control text-center" placeholder="비밀번호 확인을 입력하십시오." oninput="test()">
                     <div class="css-pointer" th:errors="*{password2}"></div>
                     </td>
               </tr>
               
               <!-- 이메일 -->
               <tr>
                  <td><label for="email" class="form-label">이메일<span
                        class="css-pointer">*</span></label></td>
                  <td><input type="email" name="email" th:field="*{email}"
                     class="form-control text-center" placeholder="이메일을 입력하십시오."
                     oninput="checkEmail()"><span id="email-check"></span>
                      <div class="css-pointer" th:errors="*{email}"></div>
                      </td>   
               </tr>

               <!-- 이름 -->
               <tr>
                  <td><label for="name" class="form-label">이름<span
                        class="css-pointer">*</span></label></td>
                  <td><input type="text" name="name" th:field="*{name}"
                     class="form-control text-center" placeholder="이름을 입력하십시오.">
                     <span class="css-pointer"></span>
                     <div class="css-pointer" th:errors="*{name}"></div>   
                  </td>      
               </tr>

               <!-- 닉네임 -->
               <tr>
                  <td><label for="nickname" class="form-label">닉네임<span
                        class="css-pointer">*</span></label></td>
                  <td><input type="text" name="nickname" th:field="*{nickname}"
                     class="form-control text-center" placeholder="닉네임을 입력하십시오."
                     oninput="checkNickname()"><span id="nickname-check"></span>
                      <div class="css-pointer" th:errors="*{nickname}"></div></td>      
               </tr>
               
               <!-- 프로필사진 -->
               <tr>
                  <td><label for="profile" class="form-label">프로필사진</label></td>
                  <td><input type="file" name="profile" th:field="*{profile}" onchange="setThumbnail(event);"
                     class="form-control text-center">
                     <div id="image_container"></div>
               </tr> 

               <!-- 성별 
               <tr>
                  <td><label for="gender" class="form-label">성별<spanclass="css-pointer">*</span></label></td>
                  <td class="text-center">
                     <input type="radio" name="gender" value="m" checked>
                        <label class="form-check-label" for="flexCheckDefault" style="margin-right: 50px">남자 </label> 
                     <input type="radio" name="gender" value="f"> 
                        <label class="form-check-label" for="flexCheckChecked">여자 </label></td>
               </tr> -->

               <!-- 휴대폰 번호 -->
               <tr>
                  <td><label for="mobile" class="form-label">핸드폰번호<span
                        class="css-pointer">*</span></label></td>
                  <td><input type="tex t" name="mobile" th:field="*{mobile}"
                     class="form-control text-center" placeholder="핸드폰 번호는 입력하십시오."
                     oninput="checkMobile()"><span id="mobile-check"></span>
                      <div class="css-pointer" th:errors="*{mobile}"></div></td>      
               </tr>

               <!-- 우편번호 -->
               <tr>
                  <td><label for="zip" class="form-label">우편번호<span
                        class="css-pointer">*</span></label></td>
                  <td><input type="text" name="zip" th:field="*{zip}"
                     class="form-control text-center" placeholder="우편번호를 입력하십시오."></td>
                  <td><button type="button" class="btn btn-warning"
                        id="address_search_btn" onclick="getPostcodeAddress()">주소찾기</button></td>
               </tr>

               <!-- 주소 -->
               <tr>
                  <td><label for="address1" class="form-label">주소<span
                        class="css-pointer">*</span></label></td>
                  <td><input type="text" name="address1" th:field="*{address1}"
                     class="form-control text-center" placeholder="주소를 입력하십시오.">
                     <div class="css-pointer" th:errors="*{address1}"></div></td>
               </tr>

               <!-- 상세 주소 -->
               <tr>
                  <td><label for="address2" class="form-label">상세주소</label></td>
                  <td><input type="text" name="address2" th:field="*{address2}"
                     class="form-control text-center" placeholder="상세주소를 입력하십시오."></td>
               </tr>

               <!-- 생년월일 
               <tr>
                  <td><label for="birthday" class="form-label">생년월일</label></td>
                  <td><input type="date" name="birthday" th:field="*{birthday}" class="form-control"></td>
               </tr> -->

               <!-- 회원가입 버튼 -->
               <tr>
                  <td></td>
                  <td><button type="submit" class="btn btn-warning form-control text-center">저장하기</button></td>
               </tr>
                  
               </tbody>
            </table>
         </form>
      </div>   
   </div>
   <script>
   function setThumbnail(event) {
        var reader = new FileReader();

        reader.onload = function(event) {
          var img = document.createElement("img");
          img.setAttribute("src", event.target.result);
          img.style.width = "150px";
          img.style.height = "100px";
          document.querySelector("div#image_container").appendChild(img);
        };

        reader.readAsDataURL(event.target.files[0]);
      }
    </script>
    