<style>
.css-travel-form {
	min-width: 1050px;
	margin-top: 50px;
	margin-bottom: 60px;
}

.css-travel-main {
	margin-bottom: 50px;
	font-size: 28px;
	line-height: 35px;
	font-weight: 500;
	text-align: center;
	letter-spacing: -1px;
}

.css-travel-basic {
	width: 55%;
	margin: 0px auto;
}

.css-travel-line {
	padding-bottom: 10px;
	border-bottom: 2px solid rgb(51, 51, 51);
	font-size: 12px;
	color: rgb(102, 102, 102);
	line-height: 17px;
	text-align: right;
}

.css-pointer {
	color: rgb(238, 106, 123);
}

.th:errors {
   color: rgb(238, 106, 123);
}
</style>