<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

	<!-- 메인 이미지 -->
<div id="carouselExampleControls" class="carousel slide"
		data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<a href="https://www.coffeefestival.net/" target="_blank"> <img
					src="/image/kanglung.png" class="d-block w-100" alt="강릉커피축제" width="100%"
					height="600px">
				</a>
			</div>
			
			<div class="carousel-item">
				<a href="https://kimchi.gwangju.go.kr/" target="_blank"> <img
					src="/image/gwangju.png" class="d-block w-100" alt="광주김치축제" width="100%"
					height="600px">
				</a>
			</div>

			<div class="carousel-item">
				<a href="http://festival.buncheong.co.kr/main.web" target="_blank"> <img
					src="/image/buncheng.png" class="d-block w-100" alt="김해분청도자기축제" width="100%"
					height="600px">
				</a>
			</div>
		</div>

		<!-- 메인 이미지 선택버튼 -->
		<button class="carousel-control-prev" type="button"
			data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Previous</span>
		</button>

		<button class="carousel-control-next" type="button"
			data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Next</span>
		</button>
	</div>

	<!-- 메인 이미지 끝 -->


	<!-- 이미지 갤러리 부분 -->
	<div class="screen">

		<div class="container mt-3">
			<!-- 첫번째 줄 -->
			<table class="table table-borderless">
				<a href="/travel/list" style="color: green; font-size: 2.0em; text-decoration: none;">
				이번주 축제</a>
				<tr>
					<th th:each="travel, loop : ${paging1}">
						<div class="card" style="width: 15rem;">
							<img th:src="${travel.filePath}"
								style="width: 239px; height: 200px;" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">
									<img th:src="${siteUsers1.get(loop.index).profilePath}"
										class="rounded-circle" width="35px" height="35px"> 
									<span th:if="${travel.author != null}"
										th:text="${travel.author.nickname}"></span>
								</h5>

								<div class="card-text">
									<a th:href="@{|/travel/detail/${travel.id}|}"
									   th:text="${travel.subject}"></a>
								</div>
								추천수 : <span th:text="${#sets.size(travel.voter)}"></span>
							</div>
						</div>
					</th>
				</tr>
			</table>
		</div>
	</div>
	<!-- 이미지 갤러리 부분 끝 -->

</div>

</html>
