<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

	<!-- 메인 이미지 -->
	<div id="carouselExampleControls" class="carousel slide"
		data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<a href="https://pages.coupang.com/p/88703"> <img
					src="/image/ad_1.jpg" class="d-block w-100" alt="광고1" width="100%"
					height="370px">
				</a>
			</div>
			
			<div class="carousel-item">
				<a href="https://pages.coupang.com/f/s20787"> <img
					src="/image/ad_2.jpg" class="d-block w-100" alt="광고2" width="100%"
					height="370px">
				</a>
			</div>

			<div class="carousel-item">
				<a href="https://pages.coupang.com/p/89738"> <img
					src="/image/ad_3.jpg" class="d-block w-100" alt="광고3" width="100%"
					height="370px">
				</a>
			</div>
		</div>

		<!-- 메인 이미지 선택버튼 -->
		<button class="carousel-control-prev" type="button"
			data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Previous</span>
		</button>

		<button class="carousel-control-next" type="button"
			data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Next</span>
		</button>
	</div>

	<!-- 메인 이미지 끝 -->


	<!-- 이미지 갤러리 부분 -->
	<div class="screen">

		<div class="container mt-3">
			<!-- 첫번째 줄 -->
			<table class="table table-borderless">
				<a href="/recipe/list" style="color: green; font-size: 2.0em; text-decoration: none;">
				오늘의 HOT 레시피</a>
				<tr>
					<th th:each="recipe, loop : ${paging1}">
						<div class="card" style="width: 15rem;">
							<img th:src="${recipe.filePath}"
								style="width: 239px; height: 200px;" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">
									<img th:src="${siteUsers1.get(loop.index).profilePath}"
										class="rounded-circle" width="35px" height="35px"> 
									<span th:if="${recipe.author != null}"
										th:text="${recipe.author.nickname}"></span>
								</h5>

								<div class="card-text">
									<a th:href="@{|/recipe/detail/${recipe.id}|}"
									   th:text="${recipe.subject}"></a>
								</div>
								추천수 : <span th:text="${#sets.size(recipe.voter)}"></span>
							</div>
						</div>
					</th>
				</tr>
			</table>

			<table class="table table-borderless">
				<a href="/recipe/list"
					style="color: green; font-size: 2.0em; text-decoration: none;">따끈따근한
					NEW 레시피</a>
				<tr>
					<th th:each="recipe, loop : ${paging2}">
						<div class="card" style="width: 15rem;">
							<img th:src="${recipe.filePath}"
								style="width: 239px; height: 200px;" class="card-img-top"
								alt="...">
							<div class="card-body">
								<h5 class="card-title">
									<img th:src="${siteUsers2.get(loop.index).profilePath}"
										class="rounded-circle" width="35px" height="35px"> <span
										th:if="${recipe.author != null}"
										th:text="${recipe.author.username}"></span>
								</h5>

								<div class="card-text">
									<a th:href="@{|/recipe/detail/${recipe.id}|}"
										th:text="${recipe.subject}"></a>
								</div>
								추천수 : <span th:text="${#sets.size(recipe.voter)}"></span>
							</div>
						</div>
					</th>
				</tr>
			</table>
		</div>
	</div>
	<!-- 이미지 갤러리 부분 끝 -->

</div>

</html>
