<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>사계로</title>

</head>
<body>
   ​
   <div layout:fragment="content" class="container my-3">
      ​
      <!-- 프로필 및 작성한 글, 댓글 -->
      <div style="border: 1px solid red; float: left; width: 30%">
         <div class="btn-group-vertical" role="group"
            aria-label="Vertical button group">
            <!-- <form th:object="${userModifyForm}"> -->
            <!-- TODO : 모서리 둥글게 만들기 -->
            <img th:src="${userModifyForm.profilePath}" id="profilePicPreview"
               style="text-align: center; width: 100%; height: auto"><br>
            <div>
               <h6 align="center">새로운 프로필 사진 선택</h6>
               <input type="file" id="profilePicInput"
                  class="form-control text-center">
            </div>
            <br>
            <button id="updateProfilePicButton" class="btn btn-light">프로필
               사진 수정</button>
            <!-- js만들기 -->
            <button id="deleteProfilePicButton" class="btn btn-light">프로필
               사진 삭제</button>

            <!-- </form> -->
            <br>
            <button type="button" class="btn btn-light">개인정보 수정</button>
            <button type="button" class="btn btn-light">내 여행 관리</button>
            <button type="button" class="btn btn-light">요리 후기</button>
            <button type="button" class="btn btn-light">댓글</button>
         </div>
      </div>

      <!-- 상세 페이지 -->
      <div style="border: 1px solid red; float: left; width: 70%">

         <div class="css-travel-main">개인정보 수정</div>

         <form th:action="@{/mypage}" th:object="${userModifyForm}"
            method="post">
            <table class="table table-borderless"
               style="margin: 10px 0px 0px 20px;">
               
               <!-- 아이디 -->
               <tr>
                  <td><label for="username" class="form-label">아이디</label></td>
                  <td><input type="text" class="form-control text-center"
                     th:field="*{username}" th:value="${#authentication.name}"
                     readonly />
                     <div class="css-pointer" th:errors="*{username}"></div></td>
               </tr>
               
               <!-- 현재 비밀번호 -->
               <tr>
                  <td><label for="password_now" class="form-label">현재
                        비밀번호<span class="css-pointer">*</span>
                  </label></td>
                  <td><input type="password" th:field="*{password_now}"
                     class="pw form-control text-center" placeholder="현재 비밀번호 입력"></td>
               </tr>
               
               <!-- 새 비밀번호 -->
               <tr>
                  <td><label for="password1" class="form-label">새 비밀번호<span
                        class="css-pointer">*</span>
                  </label></td>
                  <td><input type="password" th:field="*{password1}"
                     class="pw form-control text-center" placeholder="새 비밀번호 입력">
                     <div class="css-pointer" th:errors="*{password1}"></div></td>
               </tr>
               
               <!-- 새 비밀번호 확인 -->
               <tr>
                  <td><label for="password2" class="form-label">새 비밀번호
                        확인<span class="css-pointer">*</span>
                  </label></td>
                  <td><input type="password" th:field="*{password2}"
                     class="pw form-control text-center" placeholder="새 비밀번호 재입력"></td>
               </tr>
               
               <!-- 이메일 -->
               <tr>
                  <td><label for="email" class="form-label">이메일</label></td>
                  <td><input type="text" class="form-control text-center"
                     th:if="${userModifyForm != null}" th:field="*{email}"
                     th:value="${userModifyForm.email}" readonly />
                     <div class="css-pointer" th:errors="*{email}"></div></td>
               </tr>
               <!-- 이름 -->
               <tr>
                  <td><label for="name" class="form-label">이름</label></td>
                  <td><input type="text" class="form-control text-center"
                     th:field="*{name}" th:if="${userModifyForm != null}"
                     th:value="${userModifyForm.name}" readonly /></td>
               </tr>
               
               <!-- 닉네임 -->
               <tr>
                  <td><label for="nickname" class="form-label">닉네임</label></td>
                  <td><input type="text" class="pw form-control text-center"
                     th:field="*{nickname}" th:value="${userModifyForm.nickname}">
                     <div class="css-pointer" th:errors="*{nickname}"></div></td>
               </tr>
               
               <!-- 성별 
               <tr>
                  <td><label for="gender" class="form-label">성별</label></td>
                  <td class="text-center"><th:block
                        th:if="${userModifyForm.gender == 'm'}">
                        <input type="radio" name="gender" value="m" checked="checked"
                           onclick="return(false);">
                        <label class="form-check-label" for="flexCheckDefault"
                           style="margin-right: 50px">남자 </label>
                        <input type="radio" name="gender" value="f"
                           onclick="return(false);">
                        <label class="form-check-label" for="flexCheckChecked">여자
                        </label>
                     </th:block> <th:block th:if="${userModifyForm.gender == 'f'}">
                        <input type="radio" name="gender" value="m"
                           onclick="return(false);">
                        <label class="form-check-label" for="flexCheckDefault"
                           style="margin-right: 50px">남자 </label>
                        <input type="radio" name="gender" value="f" checked="checked"
                           onclick="return(false);">
                        <label class="form-check-label" for="flexCheckChecked">여자
                        </label>
                     </th:block></td>
               </tr> -->
               
               <!-- 휴대폰 -->
               <tr>
                  <td><label for="mobile" class="form-label">휴대폰</label></td>
                  <td><input type="text" class="form-control text-center"
                     th:field="*{mobile}" th:if="${userModifyForm!= null}"
                     th:value="${userModifyForm.mobile}" readonly />
                     <div class="css-pointer" th:errors="*{mobile}"></div></td>
               </tr>
               
               <!-- 우편번호 -->
               <tr>
                  <td><label for="zip" class="form-label">우편번호</label></td>
                  <td><input type="text" class="form-control text-center"
                     th:field="*{zip}" th:value="${userModifyForm.zip}" /></td>
                  <td><button type="button" class="btn btn-warning"
                        id="address_search_btn" onclick="getPostcodeAddress()">주소찾기</button>
                     <div class="css-pointer" th:errors="*{zip}"></div></td>
               </tr>
               
               <!-- 주소 -->
               <tr>
                  <td><label for="address1" class="form-label">주소</label></td>
                  <td><input type="text" class="form-control text-center"
                     th:field="*{address1}" th:value="${userModifyForm.address1}">
                     <div class="css-pointer" th:errors="*{address1}"></div></td>
               </tr>
               
               <!-- 상세 주소 -->
               <tr>
                  <td><label for="address2" class="form-label">상세주소</label></td>
                  <td><input type="text" class="form-control text-center"
                     th:field="*{address2}" th:value="${userModifyForm.address2}"></td>
               </tr>
               
               <!-- 생년월일 
               <tr>
                  <td><label for="birthday" class="form-label">생년월일</label></td>
                  <td><input type="text" class="pw form-control text-center"
                     th:field="*{birthday}"
                     th:value="${#dates.format(userModifyForm.birthday, 'yyyy-MM-dd')}"
                     readonly></td>
               </tr> -->

               <!-- 개인정보 수정 버튼 -->
               <tr>
                  <td><button type="submit"
                        class="btn btn-warning form-control text-center">저장하기</button></td>
               </tr>
            </table>
         </form>
      </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
       // 프로필 사진 선택 및 미리보기
      $(document).ready(function(){
         var currentProfilePicUrl = $("#profilePicPreview").attr("src");
         
         $("#profilePicInput").on("change", function(e){
            var file = e.target.files[0];
            var reader = new FileReader();
            
            reader.onload = function(e){
               $("#profilePicPreview").attr("src", e.target.result);
            };
            
            reader.readAsDataURL(file);
         });
         
          // 프로필 사진 수정 버튼 클릭 시
         $("#updateProfilePicButton").on("click", function(){
            var profilePicPreview = $("#profilePicInput")[0].files[0];
            var formData = new FormData();
            
            formData.append("profilePicPreview", profilePicPreview);
            
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");
            
            $.ajax({
               type: "POST",
               url: "/update-profile-pic",
               data: formData,
               contentType: false,
               processData: false,
               beforeSend: function(xhr){
                  xhr.setRequestHeader(csrfHeader, csrfToken);
               },
               success: function(response){
                  //업데이트 성공 시 처리할 로직
                  console.log("프로필 사진 업데이트 완료");
               },
               error: function(xhr, status, error){
                  console.error("프로필 사진 업데이트 실패 : ", error);
               }
            });
         });
      });
       
       // 프로필 사진 삭제 버튼 클릭 시
      $(document).ready(function() {
    $("#deleteProfilePicButton").on("click", function() {
        var csrfToken = $("meta[name='_csrf']").attr("content");
        var csrfHeader = $("meta[name='_csrf_header']").attr("content");

        var imageUrl = "/image/기본 프로필.jfif";
        var imageFilename = "기본 프로필.jfif";

        var currentProfilePicUrl = $("#profilePicPreview").attr("src");
      
        
      
        var image = new Image();
        image.onload = function() {
            var canvas = document.createElement("canvas");
            canvas.width = image.width;
            canvas.height = image.height;
            var ctx = canvas.getContext("2d");
            ctx.drawImage(image, 0, 0);

            canvas.toBlob(function(blob) {
                var file = new File([blob], imageFilename, { type: "image/jfif" });

                var formData = new FormData();
                formData.append("imageFile", file);
                

                $.ajax({
                    type: "POST",
                    url: "/delete-profile-pic",
                    data: formData,
                    contentType: false,
                    processData: false,
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    success: function(response) {
                        console.log("이미지 업로드 성공");
                    },
                    error: function(xhr, status, error) {
                        console.log("이미지 업로드 실패: ", error);
                    }
                });
                $("#profilePicPreview").attr("src", imageUrl);
            }, "image/jpeg");
        };
        image.src = imageUrl;
    });
});
   </script>
   </div>
   <!-- layout -->

</body>
</html>