<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="navbarFragment"
     class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/festivals/list">전국축제</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/calendar">축제달력</a>
        </li>
      </ul>

      <!-- 검색창 -->
      <form class="d-flex ms-auto me-4" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <!-- 로그인하지 않은 상태 -->
      <div class="d-flex ms-auto" sec:authorize="isAnonymous()">
        <a href="/user/login" class="btn btn-light me-2">로그인</a>
        <a href="/user/signup" class="btn btn-outline-light">회원가입</a>
      </div>

      <!-- 로그인한 상태 -->
      <div class="d-flex ms-auto align-items-center" sec:authorize="isAuthenticated()">
        <span class="text-white me-3">
          <b sec:authentication="name"></b>님
        </span>
        <a href="/user/logout" class="btn btn-outline-light">로그아웃</a>
      </div>

    </div>
  </div>
</nav>
