<nav th:fragment="navbarFragment" 
     class="navbar navbar-expand-lg navbar-warning bg-warning shadow bg-warning">

	<!-- 전체  -->
	<div class="container-fluid">

		<!-- 로고 이미지 부분 -->
		<a class="navbar-brand" href="/"> <img
			src="/image/egg.gif" alt="Logo" style="width: 50px;"
			class="rounded-pill"></a>
							 
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- 메뉴 부분 -->
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item"><a class="nav-link" href="/">추천</a></li>
			<li class="nav-item"><a class="nav-link" href="/section">분류</a></li>
			<li class="nav-item"><a class="nav-link" href="/recipe/list">레시피</a></li>
			<li class="nav-item"><a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">마이페이지
			</a>
      	    <a class="nav-link" sec:authorize="isAuthenticated()"
            th:href="@{/mypage/modifyProfile}">마이페이지</a>

      </ul>
			
		<!-- 로그인 / 로그아웃 버튼 -->
		<div class="nav justify-content-end" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="d-flex">
					<a class="nav-link btn btn-light float-end" type="button"
					sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>&nbsp;
					<a class="nav-link" sec:authorize="isAuthenticated()"
					sec:authentication="name"></a> 
					<a class="nav-link btn btn-light float-end" type="button"
					sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>&nbsp;
				</li>

				<!-- 회원가입 버튼 -->
				<li class="nav-item"><a
					class="nav-link btn btn-light float-end" type="button"
					sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
				</li>
		   </ul>
		</div>
		
	<!-- [[${#authentication.principal}]] 로그인한 객체 보여주기 -->		
	</div>
	
</nav>